# NEXT_PUBLIC_RPC_URL=https://api.devnet.solana.com
# NEXT_PUBLIC_RPC_WS_URL=wss://api.devnet.solana.com
# NEXT_PUBLIC_UMBRA_INDEXER=https://utxo-indexer.api-devnet.umbraprivacy.com
# NEXT_PUBLIC_UMBRA_RELAYER=https://relayer.api-devnet.umbraprivacy.com
# NEXT_PUBLIC_PAYROLL_MINT=<your-spl-token-mint-address>
# NEXT_PUBLIC_NETWORK=devnet
